# Linear Regression (Boston dataset)

## Import Module

In [1]:
import numpy as np
import requests
import pandas as pd

## Load Dataset

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()

In [3]:
# X = features, y = label
X = boston['data']
y = boston['target']

In [4]:
# Make DataFrame
data = pd.DataFrame(X, columns = boston['feature_names'])
data['target'] = y

## Print Dataset

In [5]:
# data
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

## Gradient Descent

### Gradient Descent : one method to fit the linear model

In [17]:
num_epoch = 100 #???
learning_rate = "Input any value you wants for setting learning rate of your linear-regression model"

In [7]:
# Parameter 
w = np.random.uniform(low=0.0, high=1.0, size=X.shape[1])
b = np.random.uniform(low=0.0, high=1.0)

In [8]:
for epoch in range(num_epoch):
    # Predict y (=target)
    y_predict = X.dot(w) + b
    
    # Calculating Error
    error = np.abs(y_predict - y).mean()
    if error < 1:
        break
    
    # Gradient Descent for Multiple Variables
    w = w - learning_rate * ((y_predict - y)).dot(X)
    b = b - learning_rate * (y_predict - y).mean()
    
    # Print Error
    if epoch % 100000 == 0:
        print("{0:6} error = {1:.5f}".format(epoch, error))

     0 error = 314.46105
100000 error = 4.24943
200000 error = 3.88307
300000 error = 3.65039
400000 error = 3.50547
500000 error = 3.41779
600000 error = 3.36465
700000 error = 3.33281
800000 error = 3.31232
900000 error = 3.30175

In [9]:
print("----" * 10)
print("{0:5} error = {1:.5f}".format(epoch, error))

----------------------------------------
999999 error = 3.29486

## Predict

In [10]:
# Predict using calculated parameter
predict = X.dot(w) + b

In [11]:
# Make Result DataFrame
result = pd.DataFrame({'actural': y, 'predict': predict})
result['difference'] = np.abs(y - predict)

In [12]:
# result
result.head()

   actural    predict  difference
0     24.0  29.437809    5.437809
1     21.6  24.633378    3.033378
2     34.7  31.262837    3.437163
3     33.4  29.871921    3.528079
4     36.2  29.617516    6.582484

## Score

### Make request to azure function for score

In [13]:
_url = "https://jinheon-azureml-score.azurewebsites.net/api/Linear-Regression-Score?code=L42/xJsf9/jAJcFFrGuSDsWhqk852BK/zFfUsIug9ZaPaP8w7h70LA=="

In [14]:
json = {
    "name": "Jinheon",
    "score": result['difference'].mean()
}

In [15]:
req = requests.request('POST', _url, json = json)

In [16]:
print(req.json())

Hi Jinheon, Your score is 3.294860172566325