# Linear Regression (Boston dataset)

## Import Module

In [1]:
import numpy as np
import requests
import pandas as pd

## Load Dataset

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()

In [3]:
# X = features, y = label
X = boston['data']
y = boston['target']

In [4]:
# Make DataFrame
data = pd.DataFrame(X, columns = boston['feature_names'])
data['target'] = y

## Print Dataset

In [5]:
# data
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

## Gradient Descent

### Gradient Descent : one method to fit the linear model

In [9]:
num_epoch = 1000000
learing_rate = 0.00000001

In [10]:
# Parameter 
w = np.random.uniform(low=0.0, high=1.0, size=X.shape[1])
b = np.random.uniform(low=0.0, high=1.0)

In [11]:
for epoch in range(num_epoch):
    # Predict y (=target)
    y_predict = X.dot(w) + b
    
    # Calculating Error
    error = np.abs(y_predict - y).mean()
    if error < 1:
        break
    
    # Gradient Descent for Multiple Variables
    w = w - learing_rate * ((y_predict - y)).dot(X)
    b = b - learing_rate * (y_predict - y).mean()
    
    # Print Error
    if epoch % 100000 == 0:
        print("{0:6} error = {1:.5f}".format(epoch, error))

     0 error = 588.94125
100000 error = 4.27765
200000 error = 3.89696
300000 error = 3.65804
400000 error = 3.51012
500000 error = 3.41781
600000 error = 3.36316
700000 error = 3.33136
800000 error = 3.31183
900000 error = 3.30132

In [12]:
print("----" * 10)
print("{0:5} error = {1:.5f}".format(epoch, error))

----------------------------------------
999999 error = 3.29525

## Predict

In [13]:
# Predict using calculated parameter
predict = X.dot(w) + b

In [14]:
# Make Result DataFrame
result = pd.DataFrame({'actural': y, 'predict': predict})
result['difference'] = np.abs(y - predict)

In [15]:
# result
result.head()

   actural    predict  difference
0     24.0  29.431803    5.431803
1     21.6  24.559722    2.959722
2     34.7  31.163609    3.536391
3     33.4  29.834970    3.565030
4     36.2  29.558479    6.641521

## Score

### Make request to azure function for score

In [16]:
_url = "https://jinheon-azureml-score.azurewebsites.net/api/Linear-Regression-Score?code=L42/xJsf9/jAJcFFrGuSDsWhqk852BK/zFfUsIug9ZaPaP8w7h70LA=="

In [17]:
json = {
    "name": "Jinheon",
    "score": result['difference'].mean()
}

In [24]:
req = requests.request('POST', _url, json = json)

In [25]:
print(req.json())

Congratulation Jinheon, Your score is 3.2952500197370918